config.json
DiscordBoostRoleBot.service
/.vs
/obj
*.user
/bin
/Properties
*.gif
*.jpg
*.png
*.db
*.db-shm
*.db-wal
/TestFilepng
*.json
/DiscordBotTests/obj
/DiscordBotTests/bin
/Logs
*.tar
/DockerCopyToServer.ps1
/secrets.env
/discord-boost-role-bot.container
SqliteDbBackup/
/container-image-multiarch.sh
/sync_files.ps1
/sync_file_list.txt
